# Guix's current Python state is very shoddy. Using binary based tools for now.
#eval "$(guix time-machine -C channels.scm -- shell --search-paths --no-grafts)"
layout python3
export JAX_ENABLE_X64=True
export PYTHONPATH=$PYTHONPATH:/home/zjabbar/code/data_science_utils
