Defaulting to user installation because normal site-packages is not writeable
Obtaining file:///home/zjabbar/code/data_science_utils
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
